/* --- FUENTES --- */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Comforter+Brush&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fuggles&family=Homemade+Apple&family=Orbitron:wght@700&family=Rajdhani:wght@400;600;700&family=Share+Tech+Mono&display=swap');

/* --- ESTILOS GENERALES DEL BODY Y BACKGROUND --- */
body {
background: url('assets/Arlyn Ligeia Background.png') no-repeat center center fixed;
background-size: cover; 
font-family: 'Orbitron', sans-serif;
color: white;
margin: 0;
min-height: 100vh;
}
